spring:
  application:
    name: banking-api

  profiles:
    active: ${SPRING_PROFILE:prod}

  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 20
    open-in-view: false

server:
  port: 8080
  shutdown: graceful
  undertow:
    threads:
      io: 2
      worker: 8

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    root: WARN
    com.onmylevel.banking: INFO
  pattern:
    console: "%d{HH:mm:ss} %-5level %logger{20} - %msg%n"